.name_form_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name_form {
    min-width: 600px;
}

.name_form div {
    padding: 12px;
    display: flex;
    flex-direction: column;
    /* border: thin solid red; */
}

.name_form div label {
    margin-bottom: 8px;
    font-weight: bold;
}

.name_form div input {
    border: none;
    background-color: var(--background-color);
    border-bottom: thin solid var(--border-color);
    color: var(--text-color);
    outline: none;
    padding: 16px 8px;
}

.name_form div textarea {
    background-color: var(--background-color);
    border: none;
    border-bottom: thin solid var(--border-color);
    color: var(--text-color);
    outline: none;
    padding: 16px 8px;
    resize: none;
}

.name_form div button {
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    padding: 16px 8px;
}

.name_form div button:hover {
    /* background-color: rgb(86, 32, 140); */
}