.content {
    padding: 40px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .names {
        margin-top: 20px;
        column-count: 5;
        width: 100%;

        li {
            list-style: none;

            a {
                color: var(--text-color);
            }
        }
    }
}