.content {
    background-color: #ffffff;
    padding: 40px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 60px;
    margin-bottom: 32px;
}

.content .input_wrapper {
    position: relative;
}

.content .input_wrapper #entry_input {
    width: 600px;
    height: 48px;
    padding: 16px 24px;
    border-radius: 24px;
    font-size: 14px;
    border-color: rebeccapurple;
    outline: rebeccapurple;
}

.content .input_wrapper button {
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    margin: auto;
    background-color: transparent;
    color: #000000;
    padding: 16px;
    cursor: pointer;
    padding: 8px;
    height: 40px;
    width: 40px;
}


.content .groupings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    width: 100%;
}

.content .groupings h4 {
    margin-bottom: 16px;
    font-weight: lighter;
}

.content .groupings .letters {
    width: 100%;
    display: flex;
}

.content .groupings .letters button {
    flex: 1;
    height: 44px;
    cursor: pointer;
    border: transparent;
    background-color: rebeccapurple;
    color: #ffffff;
    margin: 0 1px;
}

.content .groupings .letters button:hover {
    background-color: rgb(86, 32, 140);
}