.content {
    padding: 40px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 60px;
    margin-bottom: 32px;
}

.content .search_wrapper {
    position: relative;
    flex: 1;
}

.content .search_wrapper #entry_input {
    width: 600px;
    height: 48px;
    padding: 16px 24px;
    border-radius: 24px;
    font-size: 14px;
    border-color: rebeccapurple;
    outline: rebeccapurple;
}

.content .search_wrapper button {
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    margin: auto;
    background-color: transparent;
    color: #000000;
    padding: 16px;
    cursor: pointer;
    padding: 8px;
    height: 40px;
    width: 40px;
}

.content ul {
    padding: 16px;
    position: absolute;
    width: 600px;
    z-index: 1;

    li {
        list-style: none;
        padding: 16px 8px;
        border-bottom: thin solid #cccccc;
    }
}


.content .groupings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    width: 100%;
    border: thin solid red;
    flex: 5;
}

.content .groupings h4 {
    margin-bottom: 16px;
    font-weight: lighter;
}

.content .groupings .letters {
    column-count: 5;
    width: 100%;
}

.content .groupings .letters button {
    background-color: #ffffff;
    border: thin solid rebeccapurple;
    color: rebeccapurple;
    cursor: pointer;
    flex: 1;
    height: 44px;
    margin: 0 1px;
}

.content .groupings .letters button:hover {
    border: medium solid rebeccapurple;
}