.light {
  --background-color: #ffffff;
  --text-color: #990000;
  --border-color: #cccccc;
}

.dark {
  --background-color: #333333;
  --text-color: #ffffff;
  --border-color: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  position: relative;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 5px;
}

li {
  list-style: none;
}