* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  position: relative;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: rebeccapurple;
}

button {
  border: none;
  border-radius: 5px;
}