.light {
  --background-color: #ffffff;
  --background-10-color: #ffffff;
  --background-100-color: #ffffff;
  --text-color: #000000;
  --border-color: #cccccc;
  --fill-color: 000000;
}

.dark {
  --background-color: #202124;
  --background-10-color: #303134;
  --background-100-color: #000000;
  --text-color: #ffffff;
  --border-color: #cccccc;
  --fill-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  background-color: #202124;
}

body {
  position: relative;
}

#root {
  min-height: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 5px;
}

li {
  list-style: none;
}