.wrapper {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    align-items: center;
    display: flex;
    flex: 1;
    min-height: 80px;
    justify-content: space-between;
    padding: 0 20px;
}

nav {
    .left, .right {
        display: flex;
        justify-content: space-evenly;

        li {
            margin: 0 10px;
        }
    }

    .left {
        h1 {
            a {
                color: var(--text-color);
            }
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .search {
            position: relative;
            flex: 1;
    
            .entry_input {
                width: 600px;
                height: 48px;
                padding: 16px 24px;
                border-radius: 24px;
                font-size: 14px;
                outline: var(--border-color);
            }
    
            button {
                position: absolute;
                top: 0;
                right: 16px;
                bottom: 0;
                margin: auto;
                background-color: transparent;
                color: #000000;
                padding: 16px;
                cursor: pointer;
                padding: 8px;
                height: 40px;
                width: 40px;
            }
    
            .result {
                padding: 16px;
                position: absolute;
                width: 600px;
                z-index: 1;
            
                li {
                    list-style: none;
                    padding: 16px 8px;
                    border-bottom: thin solid var(--border-color);
                }
            }
        }
    }

    .right {
        display: flex;
        align-items: center;

        li {
            a {
                color: var(--text-color);
            }
        }
        button {
            cursor: pointer;
            padding: 0;
            background-color: transparent;

            svg {
                fill: var(--fill-color);
                background-color: var(--background-color);
            }
        }
    }
}


main {
    flex: 8;
    padding: 0 0 48px 0;
}

footer {
    align-items: center;
    border-top: thin solid var(--border-color);
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-height: 50px;
    padding: 0 20px;

    ul {
        display: flex;
        list-style: none;
    }

    .copyright {
        font-size: 14px;
        margin-left: 10px;
        color: var(--text-color);
    }

    .socials {
        li {
            margin: 0 12px;

            a {
                color: var(--text-color);
            }
        }
    }

    .links {
        li {
            margin: 0 12px;

            a {
                color: var(--text-color);
            }
        }
    }
    
}